<html>
<head></head>
<body>
<form method="post" action="/users/login">
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="submit" name="submit">
</form>
</body>
</html>